/* ----- COLORS ----- */
/* ----- FONT SIZES ----- */
/* ----- BUTTON BOX SHADOWS ----- */
/* ----- GRID ----- */
/* ----- HEADING ANIMATIONS ----- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ----- BROWSER RESET ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* ----- BASE STYLES ----- */
html {
  /* sets base 10 for easier rem calculations */
  font-size: 62.5%;
  /* 10 divided by 16 */ }

body {
  box-sizing: border-box; }

/* -- BODY FONT STYLES -- */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* -- HEADING TEXT STYLES -- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* -- Hack to remove animation shaking -- */
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 8.5rem;
    font-weight: 100;
    letter-spacing: 3rem;
    animation: moveInLeft 1.5s ease-out; }
  .heading-primary--subtext {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    margin-bottom: 6rem;
    animation: moveInRight 1.5s ease-out; }

.heading-secondary {
  font-size: 4.1rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(160deg, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem;
  word-spacing: 1rem; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  line-height: 3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

/* ----- WHITE BUTTON - HEADER ----- */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  text-align: center;
  border-radius: 0.2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.1rem; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn:hover::after {
    transform: scale(1.08);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.5px);
  box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 2.1s; }

.btn--call-to-action {
  animation: moveInBottom 1.5s ease-out 0.7s;
  animation-fill-mode: backwards; }

/* ----- GREEN BUTTON - ABOUT SECTION ----- */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.5rem; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 53%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    filter: saturate(0.85);
    position: absolute;
    z-index: 10;
    transition: all 0.6s; }
    .composition__photo--p1 {
      left: 1rem;
      top: -4rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 14.5rem; }
    .composition__photo:hover {
      outline: 0.1rem solid #f7f7f7;
      transform: scale(1.03) translateY(-0.5rem);
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.98);
    opacity: 0.25;
    filter: grayscale(0.7); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc(7 * (100% - 6rem) / 16);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-2 {
    width: calc(9 * (100% - 6rem) / 16);
    float: right; }
    .row .col-2-of-2:not(:last-child) {
      margin-left: 6rem; }

/* ----- HEADER SECTION ----- */
.header {
  height: 93vh;
  /* ----- HERO IMAGE ----- */
  background-image: linear-gradient(160deg, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75) 60%), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /* ----- ANGLE CUTOUT ----- */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* ----- LOGO ----- */
  /* ----- HEADING TEXT BOX ----- */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    float: left;
    height: 3.5rem; }
  .header__company-name {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    text-transform: uppercase;
    margin-left: 2.5rem; }
  .header__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-18%, -75%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
