/* ========================= */
/*       PROJECT COLORS      */
/* ========================= */

/* ----- COLORS ----- */
/*
Light green: #7ed56f;
Medium green: #55c57a;
Dark green: #28b485;
White: #fff;
*/

/* ----- FONT COLORS ----- */
/*
grey: #777;
*/

/* ========================= */
/*       BASE STYLING        */
/* ========================= */

/* ----- BROWSER RESET ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* sets base 10 for easier rem calculations */
  font-size: 62.5%; /* 10 divided by 16 */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

/* ========================= */
/*       HERO SECTION        */
/* ========================= */

/* ----- HERO IMAGE ----- */

.header {
  height: 93vh;
  background-image: linear-gradient(
      160deg,
      rgba(128, 214, 113, 0.75),
      rgba(40, 180, 131, 0.75) 60%
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* ----- LOGO ----- */

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  float: left;
  height: 3.5rem;
}

.company-name {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.7rem;
  text-transform: uppercase;
  margin-left: 2.5rem;
}

/* ----- HEADING TEXT ----- */

.heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18%, -75%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* -- Hack to remove animation shaking -- */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 8.5rem;
  font-weight: 100;
  letter-spacing: 3rem;

  animation: moveInLeft 1.5s ease-out;
}

.heading-primary-subtext {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.7rem;
  margin-bottom: 6rem;

  animation: moveInRight 1.5s ease-out;
}

/* ----- HEADING ANIMATIONS ----- */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ----- HEADER BUTTON ----- */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-align: center;
  border-radius: 0.2rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-0.5px);
  box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 2.1s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scale(1.08);
  opacity: 0;
}

.btn-call-to-action {
  animation: moveInBottom 1.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}
