/* ========================= */
/*       PROJECT COLORS      */
/* ========================= */

/* ----- COLORS ----- */
/*
light-green: #55c57a;
medium-green: #7ed56f;
dark-green: #28b485;
grey-font: #777;
white-font: #fff;
black: #000;
*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey: #777;
$color-white: #fff;
$color-black: #000;

/* ========================= */
/*       BASE STYLING        */
/* ========================= */

/* ----- BROWSER RESET ----- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* sets base 10 for easier rem calculations */
  font-size: 62.5%; /* 10 divided by 16 */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
  box-sizing: border-box;
}

/* ========================= */
/*       HERO SECTION        */
/* ========================= */

/* ----- HERO IMAGE ----- */

.header {
  height: 93vh;
  background-image: linear-gradient(
      160deg,
      rgba($color-primary-light, 0.75),
      rgba($color-primary-dark, 0.75) 60%
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* ----- LOGO ----- */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    float: left;
    height: 3.5rem;
  }

  &__company-name {
    display: inline-block;
    color: $color-white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    text-transform: uppercase;
    margin-left: 2.5rem;
  }

  /* ----- HEADING TEXT ----- */
  &__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-18%, -75%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* -- Hack to remove animation shaking -- */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 8.5rem;
    font-weight: 100;
    letter-spacing: 3rem;

    animation: moveInLeft 1.5s ease-out;
  }

  &--subtext {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    margin-bottom: 6rem;

    animation: moveInRight 1.5s ease-out;
  }
}

/* ----- HEADING ANIMATIONS ----- */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ----- HEADER BUTTON ----- */

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-align: center;
    border-radius: 0.2rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0.2rem 1rem 2rem rgba($color-black, 0.15);

    &::after {
      transform: scale(1.08);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.5px);
    box-shadow: 0.1rem 0.5rem 1rem rgba($color-black, 0.15);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 2.1s;
  }

  &--call-to-action {
    animation: moveInBottom 1.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }
}
