/* ----- WHITE BUTTON - HEADER ----- */

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    text-align: center;
    border-radius: 0.2rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    letter-spacing: 0.1rem;

    //CHANGE FOR THE <BUTTON> ELEMENT
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $button-shadow-hover;

    &::after {
      transform: scale(1.08);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.5px);
    box-shadow: $button-shadow-active;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 2.1s;
  }

  &--call-to-action {
    animation: moveInBottom 1.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }
}

/* ----- GREEN BUTTON - ABOUT & STORIES SECTIONS ----- */

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.5rem;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: $button-shadow-hover;
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: $button-shadow-active;
    transform: translateY(0);
  }
}
